Package                   Version
------------------------- --------
affine                    2.4.0
attrs                     23.2.0
blinker                   1.8.2
blosc2                    2.7.0
branca                    0.7.2
Brotli                    1.1.0
cachelib                  0.9.0
certifi                   2024.7.4
charset-normalizer        3.3.2
click                     8.1.7
click-plugins             1.1.1
cligj                     0.7.2
colorama                  0.4.6
contourpy                 1.2.1
cplex                     22.1.1.2
cycler                    0.12.1
dash                      2.17.1
dash-bootstrap-components 1.6.0
dash-core-components      2.0.0
dash_daq                  0.5.0
dash-extensions           0.0.18
dash-html-components      2.0.0
dash-leaflet              1.0.15
dash-loading-spinners     1.0.3
dash-table                5.0.0
dill                      0.3.8
diskcache                 5.6.3
docplex                   2.27.239
EditorConfig              0.12.3
et-xmlfile                1.1.0
fiona                     1.9.6
Flask                     3.0.3
Flask-Caching             2.1.0
folium                    0.17.0
fonttools                 4.53.0
GDAL                      3.9.0
geographiclib             2.0
geopandas                 0.14.4
geopy                     2.4.1
idna                      3.7
importlib_metadata        7.1.0
itsdangerous              2.2.0
Jinja2                    3.1.4
joblib                    1.4.2
jsbeautifier              1.14.9
kiwisolver                1.4.5
mapclassify               2.6.1
MarkupSafe                2.1.5
matplotlib                3.8.4
more-itertools            10.3.0
msgpack                   1.0.8
multiprocess              0.70.16
munkres                   1.1.4
ndindex                   1.8
nest_asyncio              1.6.0
networkx                  3.3
numexpr                   2.10.1
numpy                     1.26.4
openpyxl                  3.1.4
osmnet                    0.1.7
osmnx                     1.9.3
packaging                 24.1
pandana                   0.7
pandas                    1.5.1
pillow                    10.3.0
pip                       24.0
plotly                    5.22.0
psutil                    5.9.8
py-cpuinfo                9.0.0
pyparsing                 3.1.2
pypickle                  1.1.0
pyproj                    3.6.1
PySocks                   1.7.1
python-dateutil           2.9.0
pytz                      2024.1
PyYAML                    6.0.1
rasterio                  1.3.10
requests                  2.32.3
retrying                  1.3.3
Rtree                     1.2.0
scikit-learn              1.5.0
scipy                     1.13.1
setuptools                70.0.0
shapely                   2.0.4
six                       1.16.0
snuggs                    1.4.7
tables                    3.9.2
tenacity                  8.3.0
threadpoolctl             3.5.0
typing_extensions         4.12.2
urbanaccess               0.2.2
urllib3                   2.2.1
Werkzeug                  3.0.3
wheel                     0.43.0
win-inet-pton             1.1.0
xyzservices               2024.6.0
zipp                      3.19.2
